@model ECommerce.Areas.Admin.Models.Products

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İmageUrl)
        </dt>

        <dd>
            <img src="@Model.İmageUrl" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brands.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brands.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetails.WebId)
        </dt>
        @*Product Details*@
        <dd>
            @Html.DisplayFor(model => model.ProductDetails.WebId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetails.IsAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDetails.IsAvailability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetails.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDetails.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDetails.Description)
        </dt>

        <dd>
            @Html.Raw(Model.ProductDetails.Description)
        </dd>
        @*Images *@
        <dt>Images</dt>
        <dd>
            <table>
                <tr>
                    @foreach (var item in Model.ProductDetails.Images.OrderByDescending(a => a.RegisterDate))
                    {
                        <td>
                            <img src="@item.ImageUrlt" width="100" height="100" />
                        </td>


                    }
                </tr>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
